:root {
  --mainWhite: #f5f5f5;
  --mainGrey: #000;
  --mainBlack: #333;
  --mainRed: #d62828;
  --mainBlue: #11b5e4;
}

body {
  background: var(--mainWhite);
  color: #333;
}

.head {
  display: none;
}

.hold {
  border: 1px solid;
  margin: 0 auto;
  width: 60%;
  align-items: center;
  border-radius: 3px;
  box-shadow: 5px 10px #333;
}

.btn-grey {
  border-color: var(--mainGrey);
  background: transparent;
  color: var(--mainGrey);
}

.btn-grey:hover {
  background: var(--mainGrey);
  color: var(--mainBlack);
}

.form-control {
  border-color: var(--mainGrey) !important;
}

.feedback {
  display: none;
  color: #000;
}

.title {
  font-size: 18px;
  padding-top: 10px;
  font-style: italic;
  font-weight: 200;
}

.item {
  display: flex;
  justify-content: space-between;
}

.item-icon {
  font-size: 1.2rem;
  cursor: pointer;
}

.complete-item {
  color: var(--mainGrey);
}

.complete-item:hover {
  color: var(--mainGrey);
}

.edit-item {
  color: var(--mainBlue);
}

.edit-item:hover {
  color: var(--mainBlue);
}

.delete-item {
  color: var(--mainRed);
}

.delete-item:hover {
  color: var(--mainRed);
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.visibility {
  opacity: 0.5;
}

.showItem {
  display: block;
}